/* hero background image */
.bgimage {
    height: 800px;
    background: url('new.gif');
    background-size:cover;
    position:relative;
}

.name {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-right: 40%;
  }
  
  .name h6 {
    font-size: 30px;
    font-weight: 400;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;    
    background-size: 200%;
    background-position: -20%;
    transition: all ease-in-out 1s;
    cursor: pointer;
    border-right: 2px solid #000;
    animation: cursor 2s infinite step-end, typing 3s infinite steps(6);
    white-space: nowrap;
    overflow: hidden;
  }
  @keyframes cursor{
    0%, 100%{border-color: transparent;}
    50%{border-color: #000;}
  }
  
  @keyframes typing{
    0%{ width: 0ch} /*Text is hidden*/
    30%{ width: 21ch;} /*The enitre header will be typed out*/
    80%{ width: 21ch;} /*Text stays visible*/
    90%{ width: 0ch;} /*Text is deleted*/
    100%{ width: 0ch;} /*Text stays hidden*/
  }

header {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  header h1 {
    position: relative;
    width: 90%;
    font-size: 50px;
    font-weight: 400;
    color: transparent;
    background-image: linear-gradient(to right ,#553c9a, #ee4b2b, #00c2cb, #ff7f50, #553c9a);
    -webkit-background-clip: text;
    background-clip: text;    
    background-size: 200%;
    background-position: -200%;
    transition: all ease-in-out 1s;
    cursor: pointer;
  }
  header h1:hover{
    background-position: 200%;
  }
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
button.navbar-toggler {
    border-color: rgb(255, 255, 255);
  } 
a.navbar-brand{
    color: aqua;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    padding: 20px;
}
.hero_desc {
    font-size: 2rem;
   
}
a.nav-link {
    color: aqua;

}  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 380px;
    cursor: pointer;
    padding: 12px;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
    padding: 40px;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008000;
}
.fa-instagram {
    color: pink;
}
/* footer styling */
#footer {
    /* background-color: gray; */
    height: 100px;
    width:100%;
    padding-bottom: 10px;
    text-align: center;
}
/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
/* #contact {
    padding-bottom: 4rem;
} */
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #00ffea 0%,
    #ff00eaa4 29%,
    #e0004b 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 60px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}   

.animate-charcter_2
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #00ffea 0%,
    #ff00eaa4 29%,
    #e0004b 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
}


.footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .footer ul li {
    list-style: none;
    margin: 0 15px;
  }
  
  .footer ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
  }
  
 